name: Deploy to GitHub Pages

# Controls when the action will run.
# For example, running on push to the main branch
on:
  push:
    branches: [ "main" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This job builds the frontend and deploys it to GitHub Pages
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository into the workspace
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      # Sets up Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      # Installs project dependencies
      - name: Install Dependencies
        run: npm install

      # Builds the project
      - name: Build Project
        run: npm run build

      # Deploys the build output to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.PRONGHORN_ACTIONS_TOKEN }}

          publish_dir: ./dist